/*======= Navbar Styling ============*/

.container-fluid.nav {
  margin-right: -15px;
  border-bottom: 2px solid #D8D8D8;
  text-align: center;
}

.site-logo {
  margin: 0 auto;
  font-family: Bitter;
  font-size: 48px;
  color: #F7A519;
  line-height: 70px;
  background-color: #FFFFFF;
  padding-left: 35px;
  padding-right: 50px;
  float: left;
}

.form-group {
  padding-top: 15px;
  padding-right: -15px;
  padding-left: 0;
  margin-bottom: 0;
}

.form-control {
  font-size: 25px;
  border-radius: 0;
  color: #D8D8D8;
  border: solid 2px #D8D8D8;
  width: 640px;
  height: 50px;
}

.form-control:focus {
  color: #F7A519;
}

.form-control::-webkit-input-placeholder {
  color: #D8D8D8;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
  border-color: #F7A519;
  box-shadow: 0 0px 0px #F7A519;
}

@media (max-width: 954px) {
  .form-control {
    width: 100%;
    text-align: center;
  }

  .site-logo {
    float: none;
    padding-left: 0;
    padding-right: 0;
  }
}