html, body {
  font-family: Bitter;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.today-container {
  height: 420px;
  background-color: #F8E71C;
  margin: 0;
  padding: 0;
}

.today-header {
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 54px;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 16px;
}

.today-city {
  font-size: 35px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 0;
  padding-bottom: 13px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 27px;
}

.today-icon {
  text-align: center;
  padding-top: 0;
  padding-bottom: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.today-temperature {
  font-size: 180px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 135px;
}

.left-column {
  background-color: #FFD54F;
  font: #FFFFFF;
  height: 176px;
  text-align: center;
}

.middle-column {
  background-color: #FFB74D;
  font: #FFFFFF;
  height: 176px;
  text-align: center;
}

.right-column {
  background-color: #FFA000;
  font: #FFFFFF;
  height: 176px;
  text-align: center;
}

.icon-column {
  padding-top: 25px;
  padding-bottom: 17px;
  margin-top: 0;
  margin-bottom: 0;
  max-height: 91px;
}

.left-temperature,
.middle-temperature,
.right-temperature {
  font-size: 85px;
  color: #FFFFFF;
  padding-top: 0;
  padding-bottom: 0px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 60px;
}

.left-date {
  font-size: 45px;
  color: #FFD54F;
  text-align: center;
  background: #FFFFFF;
  line-height: 43px;
  padding-top: 2px;
  padding-bottom: 9px;
  margin-top: 34px;
  margin-bottom: 0;
  border-bottom: solid 5px #FFD54F;
}

.middle-date {
  font-size: 45px;
  color: #FFB74D;
  text-align: center;
  background: #FFFFFF;
  line-height: 43px;
  padding-top: 2px;
  padding-bottom: 9px;
  margin-top: 34px;
  margin-bottom: 0;
  border-bottom: solid 5px #FFB74D;
}

.right-date {
  font-size: 45px;
  color: #FFA000;
  text-align: center;
  background: #FFFFFF;
  line-height: 43px;
  padding-top: 2px;
  padding-bottom: 9px;
  margin-top: 34px;
  margin-bottom: 0;
  border-bottom: solid 5px #FFA000;
}